@using System.Runtime.CompilerServices
@using Microsoft.Extensions.Localization
@using Syrna.FileManagement.Localization
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@inject AbpBlazorMessageLocalizerHelper<FileManagementResource> LH
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<Modal @ref="CreateModalRef" Closing="@ClosingCreateModal">
    <ModalContent Centered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["CreateDirectory"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["FileFileName"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.DirectoryName" Autofocus="true">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Outline Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                <SubmitButton Clicked="@CreateEntityAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>